body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.pagina-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Ajustes del navbar/footer para que se mantengan fijos en sus lugares */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #DADADA;  
    z-index: 10;  
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #DADADA;
    z-index: 10;
    text-align: center;
    padding: 10px 0;
}

.pagina-inicio {
    margin-top: 120px;  
    padding-bottom: 10px; 
    overflow: hidden; 
}

