
/* Ajustes para el contenedor principal */
.paginainicio-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 60px;
    gap: 40px;
    justify-content: center; 
    flex-grow: 1;
}

.paginainicio-text-section {
    flex: 1; /* Permite que el contenedor ocupe el 50% del espacio disponible */
    text-align: left;
    min-width: 300px; /* Asegura que el contenedor no se reduzca demasiado */
}

.paginainicio-text-section h1 {
    font-size: 34px;
    margin-left: 0;
    margin-right: 0;
    justify-content: left;
    text-align: left;
    color: #181D23;
    font-weight: bold;
    margin-bottom: 10px;
}

.paginainicio-text-section p {
    font-size: 17px;
    text-align: left;
    color: #181D23;
    margin-bottom: 20px;
}

.paginainicio-buttons {
    display: flex;
    text-align: center;
    gap: 10px;
    margin-top: 20px;
    gap: 20px;
}

.paginainicio-inicio-sesion-button, .paginainicio-registrate-button, .paginainicio-consulta-multas-button, .paginainicio-mapa-calor-button {
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.paginainicio-inicio-sesion-button {
    background-color: #181D23;
    color: white;
    text-align: center;
    border-color: #181D23;
}

.paginainicio-registrate-button {
    background-color: transparent;
    color: #181D23;
    border-color: #181D23;
}

.paginainicio-options-section {
    flex: 1; 
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 30px;
    background-color: #181D23;
    color: white;
    border-radius: 10px;
    text-align: center;
    min-width: 300px; 
}

.paginainicio-options-section h2 {
    font-size: 24px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.paginainicio-options-section p {
    font-size: 16px;
    text-align: center;
    color: #ccc;
    margin-bottom: 20px;
}

.paginainicio-extra-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    gap: 20px;
}

.paginainicio-consulta-multas-button, .paginainicio-mapa-calor-button {
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #ffcc00;
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.paginainicio-inicio-sesion-button:hover,
.paginainicio-registrate-button:hover,
.paginainicio-consulta-multas-button:hover,
.paginainicio-mapa-calor-button:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.paginainicio-inicio-sesion-button:hover {
    background-color: #242d38;
}

.paginainicio-registrate-button:hover {
    background-color: #242d38; 
    color: white; 
}

.paginainicio-consulta-multas-button:hover,
.paginainicio-mapa-calor-button:hover {
    background-color: #f3cb2c; 
}

.paginainicio {
    display: flex;
    flex-direction: column;
    background-color: #dadada;
    min-height: 100vh;
    justify-content: center;
}

.paginainicio-footer {
    margin-top: auto;
}