.pagina-inicio-sesion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Ajusta la altura para llenar toda la pantalla */
}

.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Permite que este contenedor crezca para ocupar el espacio disponible */
}

.contenedor-texto {
    max-width: 400px;
    text-align: left;
    margin-right: 200px;
}

.contenedor-texto h2 {
    font-size: 37px;
    text-align: left;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.contenedor-texto p {
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    color: #333;
}

.links-inicio-sesion {
    margin-top: 15px;
    font-size: 14px;
}

.links-inicio-sesion a {
    color: #000000;
    text-decoration: none;
    display: block;
    margin-top: 5px;
}

.links-inicio-sesion a:hover {
    text-decoration: underline;
}

.contenedor-formulario {
    background-color: #181d23;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.contenedor-formulario form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedor-formulario label {
    font-size: 14px;
    color: white;
    text-align: left;
}

.contenedor-formulario input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #DADADA;
    border-radius: 20px;
    width: calc(100% - 20px);
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -5px;
}

.boton-iniciar-sesion {
    margin: 15px auto;
    margin-top: 25px;
    padding: 10px 0;
    width: 200px;
    font-size: 18px;
    background-color: #ffcc00;
    color: #000000;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.boton-iniciar-sesion:hover {
    background-color: #e6b800;
}

.boton-verificar-OTP {
    margin: 15px auto;
    margin-top: 25px;
    padding: 10px 0;
    width: 200px;
    font-size: 18px;
    background-color: #ffcc00;
    color: #000000;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.boton-verificar-OTP:hover {
    background-color: #e6b800;
}


.password-input-container-login {
    position: relative;
    display: flex;
    align-items: center;
    /* padding: 10px; */
    font-size: 16px;
    border: 1px solid #DADADA;
    border-radius: 20px;
    width: calc(100% - 20px);
}

.password-input-container-login input {
    width: 100%;
    padding-right: 40px;
}

.password-input-container-login i {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #888;
}

.password-input-container-login i:hover {
    color: #333;
}

.link-autenticacion {
    text-align: center;
    margin: 10px;
}

.link-autenticacion a {
    color: #18AEBF;
    text-decoration: none;

}

.link-autenticacion a:hover {
    text-decoration: underline;
}

.contenedor-formulario h4 {
    color : white;
    font-size: 18px;
    text-align: center;
    margin: 15px 0;
}

/* Estilos del popup */

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    position: relative; /* Necesario para posicionar el botón de cierre */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .popup-content h3 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: #ff0000;
  }

  
  