.pagina-transito {
    text-align: center;
    margin-top: 50px;
}

    .pagina-transito h1 {
        font-size: 36px;
        text-align: left;
        margin-left: 2%;
        margin-bottom: 50px;
    }

.botones button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

    .botones button:hover {
        background-color: #0056b3;
    }
