.estilos-oficial {
    display: flex;
    flex-direction: column;
    background-color: #dadada;
    min-height: 100vh;
}

.pantalla-dividida {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
    margin-left: 4%;
}

.columna-izquierda  {
    margin-top: 5%;
    width: 30%;
    float: left;
}

.columna-izquierda .input-group {
    width: 90%;
    color:#181D23
}

.columna-izquierda h3 {
    color:#181D23;
    margin: 15px;
}

.columna-derecha {
    width: 100%;

}

.estilos-oficial h1 {
    color: #181D23;
    text-align: left;
    margin: 30px;
}

.foto-placa {
    width: 100%; /* Ajusta el tamaño de la imagen al ancho del contenedor */
    max-width: 500px; /* Establece un tamaño máximo para evitar que se estire demasiado */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Asegura que la imagen se ajusta sin perder proporciones */
}


