.consulta-publica {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.contenido {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 20px;
    flex-grow: 1;
}

.consulta-publica h2 {
    font-size: 24px;
    font-weight: bold;
}

.consulta-publica p {
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 16px;
}

.contenido form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consulta-publica .input-placa {
    margin-bottom: 20px;
    width: 150px;
    border-radius: 30px;
    text-align: center;
}

.btnConsultaMulta {
    padding: 10px;
    width: 200px;
    cursor: pointer;
}

.contenedor-tabla-multas {
    margin: 20px;
    padding: 20px;
    background-color: #181D23;
    border-radius: 25px;
}

.tabla-multas {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabla-multas td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid black;
    color: white;
    padding: 20px;
}

.tabla-multas #text {
    margin: 10px;
    padding: 10px;
}

.tabla-multas th {
    text-align: center;
    color: #ffcc00;
    font-weight: bold;
}