body {
    background-color: #EAEAEA;
    margin: 0;
    font-family: Arial, sans-serif;
}

.consulta-publica {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.consulta-publica .contenido {
    flex: 1;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.consulta-publica h2 {
    font-size: 24px;
    margin-top: 10%;
    font-weight: bold;
}

.consulta-publica p {
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consulta-publica .input-placa {
    margin-bottom: 20px;
    width: 150px;
    border-radius: 30px;
    text-align: center;
}

.btnConsultaMulta {
    padding: 10px;
    width: 200px;
    cursor: pointer;
}

.consulta-publica .btnConsultaMultata:hover {
    background-color: #555555;
}

.consulta-publica .tabla-multas {
    margin-top: 20px;
    width: 90%; /* Aumentamos el ancho de la tabla a 90% */
    max-width: 800px; /* Opcional: limita el ancho máximo de la tabla */
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: #003366; /* Azul marino */
    color: white; /* Texto en blanco */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden;
}

.consulta-publica .tabla-multas th,
.consulta-publica .tabla-multas td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: center;
    word-wrap: break-word; /* Permite que el texto largo se ajuste al tamaño de la celda */
}

.consulta-publica .tabla-multas th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #181D23; /* Cambiar color de texto de los encabezados a azul marino */
}

.consulta-publica .tabla-multas td {
    background-color: #ffffff;
    color: black; /* Color de texto negro para las celdas */
}

.consulta-publica .tabla-multas th:nth-child(3), /* Seleccionamos la tercera columna: Infracciones */
.consulta-publica .tabla-multas td:nth-child(3) {
    width: 500px; /* Le damos más espacio a la columna de infracciones */
    max-width: 400px; /* Establecemos un límite máximo para que no se haga demasiado ancha */
}
