body {
    background-color: #EAEAEA;
    margin: 0;
    font-family: Arial, sans-serif;
}

.consulta-publica {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    width: 100%;
}

.consulta-publica .contenido {
    flex: 1;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.consulta-publica h2 {
    font-size: 24px;
    margin-top: 10%;
    font-weight: bold;
}

.consulta-publica p {
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consulta-publica .input-placa {
    margin-bottom: 20px;
    width: 150px; 
    border-radius: 30px;
    text-align: center;
}

.btnConsultaMulta {
    padding: 10px;
    width: 200px; 
    cursor: pointer;
}

.consulta-publica .btnConsultaMultata:hover {
    background-color: #555555;
}

.consulta-publica  .tabla-multas {
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: #ffffff;
    overflow: hidden;
}

.consulta-publica .tabla-multas th,
.consulta-publica .tabla-multas td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: center;
}

.consulta-publica .tabla-multas th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Ajustes del navbar/footer para que se mantengan fijos en sus lugares */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #DADADA;  
    z-index: 10;  
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #DADADA;
    z-index: 10;
    text-align: center;
    padding: 10px 0;
}

.pagina-inicio {
    margin-top: 120px;  
    padding-bottom: 10px; 
    overflow: hidden; 
}
