/* InicioAdmin.css */

.pagina-registro {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    width: 100%;
  }
  
  main {
    flex: 1;
  }
  
  h1 {
    text-align: left;
    margin-left: 20px;
  }
  
  .BotonesAdmin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-right: 20px;  
    margin-right: 30%;
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 20%;
  }
  
  footer {
    width: 100%;
    text-align: center;
  }     

  /* Ajustes del navbar/footer para que se mantengan fijos en sus lugares */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #DADADA;  
  z-index: 10;  
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #DADADA;
  z-index: 10;
  text-align: center;
  padding: 10px 0;
}

.pagina-inicio {
  margin-top: 120px;  
  padding-bottom: 10px; 
  overflow: hidden; 
}
