.disputas-juez {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.cotenedor-disputas-juez {
    display: flex; 
    flex-grow: 1; 
}

.filtro-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
}


.filtro-container input {
    max-width: 200px;
}

.search-icon {
    margin-left: 8px; 
    font-size: 1rem;
    color: #181D23;
    cursor: pointer;
}


.disputas-juez .filtro-container i{
    width: 50px;
}


.disputas-juez {
    display: flex;
    flex-direction: column;
    background-color: #dadada;
    min-height: 100vh;  
}

.disputas-juez h1 {
    color: #181D23;
    text-align: center;
    margin: 30px;
}

.contenedor-tabla {
    width: fit-content;
    background-color: #181D23;
    border-radius: 30px;
    padding: 50px;
    margin: 50px auto;
    color: #dadada;
    display: flex;
    justify-content: center;
}

.contenedor-tabla table{
border-collapse: collapse;
}
    
.tabla td{
border-bottom: 2px solid rgb(5, 4, 4);
padding: 10px;
padding-right: 50px;
text-align: center;
}

.tabla th{
border-bottom: 3px solid rgb(5, 4, 4);
padding: 20px;
padding-right: 50px;
color : #dadada;
}