.pagina-juez {
    background-color: #dadada;
    height: 100%;
}

.pagina-juez h1 {
    color: #181D23;
    font-size: 36px;
    text-align: left;
    margin-left: 2%;
    margin-bottom: 12%;
}

.pagina-juez p {
    display: block;
    color: #181D23;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.botones {
    display: flex;
    justify-content: center;
    flex-direction: row; 
    margin-bottom: 10%;
    gap: 30px; 
}
