.resolver-disputa {
    display: flex;
    flex-direction: column;
    background-color: #dadada;
    min-height: 100vh;    
}

* {
    box-sizing: border-box;
}

.resolver-disputa h1 {
    color: #181D23;
    text-align: left;
    margin: 30px;
}

.resolucion h2 {
   color: #dadada;
    text-align: center;
    margin: 0px;
}

label {
    color: white;
    margin-bottom: 4px;
}

.resolucion {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: #181D23;
    border-radius: 20px;
    padding: 50px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    margin-bottom: 50px;
    margin-top: 40px;
}

.resolucion .botones {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0px;
}

.resolucion label{
    color: white;
}

/* Ajustes del navbar/footer para que se mantengan fijos en sus lugares */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #DADADA;  
    z-index: 10;  
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #DADADA;
    z-index: 10;
    text-align: center;
    padding: 10px 0;
}

.pagina-inicio {
    margin-top: 120px;  
    padding-bottom: 10px; 
    overflow: hidden; 
}
