.filtro-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.lista-infracciones {
  width: fit-content;
  background-color: #181D23;
  border-radius: 30px;
  padding: 50px;
  margin: 50px auto;
  color: #dadada;
  display: flex;
  justify-content: center;
}

.lista-infracciones table {
  border-collapse: collapse;
  margin: 0 auto;
}

.lista-infracciones th,
.lista-infracciones td {
  padding: 15px;
  text-align: center;
  border-bottom: 2px solid rgb(5, 4, 4);
}

.botones-infraccion {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0px;
}

.modal-crear-infraccion {
  padding: 30px;
  margin: 30px;
  background-color: white;
  width: 600px;
  position: relative;
  border-radius: 15px;
}

.modal-crear-infraccion button.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  padding: 4px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #181D23;
  line-height: 1;
}


.modal-crear-infraccion h2 {
  text-align: left;
  margin-bottom: 20px;
}

.modal-crear-infraccion form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea todo el contenido a la izquierda */
  text-align: left;
  padding-left: 40px;
}

.modal-crear-infraccion label {
  color: #181D23;
  margin-bottom: 5px;
}

.modal-crear-infraccion .filas {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-crear-infraccion input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.modal-crear-infraccion .botones-modal {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  
}

/* Ajustes del navbar/footer para que se mantengan fijos en sus lugares */
/* header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #DADADA;  
  z-index: 10;  
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #DADADA;
  z-index: 10;
  text-align: center;
  padding: 10px 0;
} */

.pagina-inicio {
  margin-top: 120px;  
  padding-bottom: 10px; 
  /* overflow: hidden;  */
}
