
.password-recovery-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100vh;
    background-color: #DADADA; 
}

.password-recovery-box {
    background-color: #FFFFFF; 
    padding: 30px; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

h2 {
    font-size: 22px; 
    color: #181D23; 
    margin-bottom: 10px;
}

p {
    font-size: 13px;
    color: #181D23; 
    margin-bottom: 15px; 
}

.password-recovery-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 15px; 
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 10px; 
    border: 1px solid #181D23; 
    border-radius: 55px; 
    font-size: 14px;
}

button {
    padding: 10px; 
    background-color: #000000; 
    color: #FFFFFF; 
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #444444; 
}
