/* EditarPerfil.css */

.pagina-editar-perfil {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    width: 100%;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .perfil-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  
  .perfil-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
  }
  
  .columna-izquierda, .columna-derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  
  input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  select {
    color: #61dafb;
  }
  
  .guardar-cambios {
    margin-top: 20px; /* Add margin for spacing */
  }
  
  footer {
    width: 100%;
    text-align: center;
    margin-top: auto;
  }
/* styles.css */
.modal-content {
  background-color: #181D23;
  color: yellow;
}

.modal-header, .modal-body, .modal-footer {
  background-color: #181D23;
}

.modal-title {
  color: yellow;
}

.btn-link {
  color: yellow;
}

.btn-link:hover {
  color: #FFD700; /* Un color ligeramente más claro para el hover */
}

.btn-secondary {
  background-color: yellow;
  border-color: yellow;
  color: #181D23;
}

.btn-secondary:hover {
  background-color: #FFD700; /* Un color ligeramente más claro para el hover */
  border-color: #FFD700;
}

.role-selector{
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #181D23;
}
