.pagina-perfil {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pagina-perfil main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.perfil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 20px auto;
}

.foto-container {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.foto-perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.input-foto {
  margin-top: 10px;
}

.informacion-perfil {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.informacion-perfil form {
  background-color:#181D23;
  padding: 25px;
  border-radius: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
}

.informacion-perfil .campo label {
  margin-bottom: 5px;
  font-weight: bold;
}

.informacion-perfil .campo input {
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.acciones {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
