/* Contenedor principal */
.pagina-usuarios-registro {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  margin: 0;
}

/* Contenido principal */
.main-content-usuarios {
  flex: 1;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  min-height: calc(100vh - 140px);
}

.main-content-usuarios h1{
  color: #181D23;
  text-align: center;
  margin: 30px;
}

/* Contenedor del filtro */
.filtro-container-usuarios {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
}

/* Contenedor de la lista de usuarios */
.lista-usuarios-tabla {
  width: fit-content;
  background-color: #181D23;
  border-radius: 30px;
  padding: 50px;
  margin: 50px auto;
  color: #dadada;
  display: flex;
  justify-content: center;
}

/* Estilos para la tabla */
.tabla-general-usuarios {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.tabla-general-usuarios th,
.tabla-general-usuarios td {
  padding: 15px;
  text-align: center;
  border-bottom: 2px solid rgb(5, 4, 4);
}

.tabla-general-usuarios th {
  color: #ffcc00;
  font-weight: bold;
}

.tabla-general-usuarios td {
  background-color: #181D23;
  color: #dadada;
}

/* Estilos para filas cuando se hace hover */
.tabla-general-usuarios tr:hover {
  background-color: #3c444e;
}

/* Botones de acción */
.botones-usuarios {
  justify-content: space-between;
  gap: 40px;
  margin: 30px;
}

button, .ButtonLink {
  margin: 0 5px;
}

.botones-accion {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-bottom: 0;
}

.botones-accion button {
  padding: 5px 10px;
}

/* Estilos para el fondo oscuro del modal */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos del modal */
.modal-usuarios {
  background-color: white;
  width: 90%;
  max-width: 600px;
  border-radius: 15px;
  padding: 30px;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  overflow: auto;
  max-height: 90vh;
}

.modal-usuarios button.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  padding: 4px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #181D23;
  line-height: 1;
}

.modal-usuarios h2 {
  text-align: left;
  color: #181D23;
  margin-bottom: 20px;
}

.modal-usuarios form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.modal-usuarios label {
  color: #181D23;
  margin-bottom: 5px;
}

.modal-usuarios .filas {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.modal-usuarios input,
.modal-usuarios select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

.modal-usuarios .botones-modal {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.modal-usuarios .botones-modal button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #282c34;
  color: #ffcc00;
  border: none;
}

.modal-usuarios .botones-modal button:hover {
  background-color: #ffcc00;
  color: #282c34;
}