/* ListaUsuarios.css */

.pagina-registro {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    width: 100%;
  }
  
  main {
    flex: 1;
  }
  
  h1 {
    text-align: left;
    margin-left: 20px;
  }
  
  .filtro-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .lista-usuarios table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .lista-usuarios th,
  .lista-usuarios td {
    padding: 10px;
    text-align: center;
  }
  
  .lista-usuarios th {
    background-color: #f2f2f2;
  }
  
  .lista-usuarios tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  .lista-usuarios tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  button,
  .ButtonLink {
    margin: 0 5px;
  }
  
  footer {
    width: 100%;
    text-align: center;
    margin-top: auto;
    }

    /* Ajustes del navbar/footer para que se mantengan fijos en sus lugares */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #DADADA;  
  z-index: 10;  
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #DADADA;
  z-index: 10;
  text-align: center;
  padding: 10px 0;
}

.pagina-inicio {
  margin-top: 120px;  
  padding-bottom: 10px; 
  overflow: hidden; 
}
